<!DOCTYPE html>
<html>
    <head>
        <title>.ejs Resume Home</title>
        <link rel="stylesheet" type="text/css" href="app.css">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700" rel="stylesheet">
    </head>
    <body>
        <h1 id="ryan">Ryan  A. Ream</h1>
        <a id="welcomeLink" href="/welcome">Welcome Page</a>
    </body>
</html>