
<link rel="stylesheet" href="landing.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Open+Sans:400i|Gruppo&display=swap" rel="stylesheet">
<!--<link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i&display=swap" rel="stylesheet">-->
<h1 class="ml5">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letters letters-left">Ryan</span>
    <!--<span class="letters ampersand"></span>-->
    <span class="letters letters-right">Ream</span>
    <span class="line line2"></span>
  </span>
</h1>
<!--BUG - cannot click entire button, only letters inside <a> tag-->
<div id="container" style="text-align:center;">
  <div class="button" id="button-6">
      <div id="spin"></div>
      <a href="home">Let's Go!</a>
  </div>
</div>


<div class="thanks">
  <p>Thank you for exploring my developer page!</p>
  <p>I'm having fun experimenting with anime.js. Check back to see how the landing page turns out!!</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script src="landing.js"></script>


