
<% include ../partials/header.ejs %>
            
        <!--<a class="btn btn-primary btn-lg" id="backButton" href="/" role="button">Go Back</a>-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <h3 id="recent">Recent Projects</h3>
            <div class="carousel-inner">
                <!--carousel item 1-->
                <div class="carousel-item active">
                  <!--<img class="d-block w-100" src="https://images.pexels.com/photos/145939/pexels-photo-145939.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="First slide">-->
                     <div class="card" id="card">
                        <img src="http://gdurl.com/9kjL" class="card-img-top" id="cardImage" alt="First Slide">                      
                        <div class="card-body">
                            <h5 class="card-title">Todo List</h5>
                            <p class="card-text">Interactive todo list built with CSS and HTML. Animations included for a pleasing user experience!</p>
                            <a href="https://evening-cove-44307.herokuapp.com/" class="btn btn-primary button">See it in action</a>
                        </div>
                    </div>
                </div>
                <!--carousel item 2-->
                <div class="carousel-item">
                    <div class="card" id="card">
                        <img src="http://gdurl.com/ak_w" class="card-img-top" id="cardImage" alt="Second Slide">                      
                        <div class="card-body">
                            <h5 class="card-title">Color Game</h5>
                            <p class="card-text">A game built on javascript logic and CSS styling. Select the color matching the RGB!</p>
                            <a href="https://ancient-ocean-34327.herokuapp.com/" class="btn btn-primary button">See it in action</a>
                        </div>
                    </div>                
                </div>
                <!--carousel item 3-->
                <div class="carousel-item">
                    <div class="card" id="card">
                        <img src="http://gdurl.com/4eHM" class="card-img-top" id="cardImage" alt="Third Slide">                      
                        <div class="card-body">
                            <h5 class="card-title">Yelp Camp!</h5>
                            <p class="card-text">Multi-page DB built with Express.js and MongoDB. Sign up and contribute!</p>
                            <a href="https://powerful-basin-28866.herokuapp.com/" class="btn btn-primary button">See it in action</a>
                        </div>
                    </div>                
                </div>
            </div>
            <!--carousel controls-->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" id="carouselControl" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" id="carouselControl" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
<% include ../partials/footer.ejs %>
