body {
  /*background-color: #292929;*/
  background-image: radial-gradient(circle, #ffffff, #fafafa, #f5f5f5, #f0f0f0, #ebebeb);
  /*background-image: radial-gradient(circle, #dce3ff, #dde0f5, #dcddeb, #dbdae1, #d8d8d8);*/
}

.ml5 {
  text-align: center;
  margin-top: 100px;
  position: static;
  font-family: 'Cinzel Decorative';
  /*font-family: 'Gruppo', cursive;*/
  font-style: italic; 
  font-weight: 100;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

/*.ml5 .ampersand {*/
/*  font-family: Baskerville, "EB Garamond", serif;*/
/*  font-style: italic;*/
/*  font-weight: 400;*/
/*  width: 1em;*/
/*  margin-right: -0.1em;*/
/*  margin-left: -0.1em;*/
/*}*/

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

.button {
  text-align: center;
  margin: 50;
}

.thanks {
  margin-top: 150px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 22;
  opacity: 0;
}

/*************  Button *************/
/*#container {*/
/*  justify-content: center;*/
/*  margin-left: auto;*/
/*}*/

.button {
  opacity: 0;
  display: inline-flex;
  height: 80px;
  width: 300px;
  border: 2px solid #757575;
  margin: 0 auto;
  color: #8c8c8c;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #757575;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 36px;
}

#button-6 {

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-6 a {
  position: relative;
  transition: all .45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -95px;
  top: -95px;
  /*background: #BFC0C0;*/
  background: #444444;
  transform: rotate(80deg);
}

#button-6:hover a {
  /*color: #2D3142;*/
  color: #FFFFFF;
}

/* button drop down tab from https://tobiasahlin.com/ */
/*.grid-item-button-label {*/
/*    transform: translateY(-15px);*/
/*    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;*/
/*    display: block;*/
/*    opacity: 0;*/
/*}*/

/*    font-family: 'Open Sans', sans-serif;               */
/*    font-family: 'Gruppo', cursive;                     */
/*    font-family: 'Cinzel Decorative', cursive;          */

